body {
  overflow-x: hidden;
  position: relative;
}

nav h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.8rem!important;
  color: #f9ff1d!important;
}

nav i {
  font-size: 2rem!important;
  color: #f9ff1d!important;
}

#meme {
  width: 100%;
}

.feed a {
  position: relative!important;
  text-decoration: none;
  color: #212529;
  font-size: 1.2rem;
  transition: .3s;
  bottom: -40px;
}

.feed a:hover {
  opacity: 0.5;
}

svg {
  position: absolute!important;
  bottom: -47px!important;
  left: 0!important;
}

button {
  background-color: #f9ff1d!important;
  cursor: pointer;
  transition: .3s ease-in-out;
  border: none!important;
  color: #212529!important;
  width: 70%;
  font-weight: 500;
}

button:hover {
  background-color: #acb100!important;
}

form label {
  opacity: .8;
}

form input {
  border: 1px solid #f9ff1d!important;
  outline: none!important;
}

.hasil label {
  font-weight: 550;
  font-size: 1.2rem;
  color: #f9ff1d;
  border-bottom: 2px solid #f9ff1d;
}

.logo {
  background-color: #f9ff1d;
  color: #212529;
  padding: 2px 12px;
  border-radius: 12px;
}

.judul button {
  border: none;
  background-color: #212529!important;
  color: rgb(162,162,162)!important;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  svg {
    bottom: -100px!important;
  }
}

@media screen and (min-width: 1000px) {
  svg {
    bottom: -300px!important;
  }
}